<html>
    <head>
        <script src="https://vuejs.org/js/vue.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <div id="app">
            <div>登入</div>
            <input v-model="email" placeholder="email">
            <input v-model="password" type="password" placeholder="password">
            <button v-on:click="login">login</button>
            <div>
                <button v-on:click="toAdmin">admin</button>
                <button v-on:click="toMember">member</button>
                
            </div>
            <div>
                <button v-on:click="logout">logout</button>
            </div>
        </div>
        
          <script>
            new Vue({
                el: '#app',
                data: {
                    email:'',
                    password:''
                },
                methods: {
                    login(){
                        axios.post('http://127.0.0.1:3000/login', {
                            email: this.email,
                            password: this.password
                        })
                        .then(function (response) {
                            const token = response.data.token;
                            localStorage.setItem('token',token)
                            console.log(response);
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                    },
                    toAdmin(){
                        window.location = 'admin.html'
                    },
                    toMember(){
                        window.location = 'member.html'
                    },
                    logout(){
                        window.location = 'login.html'
                        localStorage.removeItem('token')
                    }
                }
            })
          </script>
    </body>
</html>